.container{
  background: linear-gradient(#e66465, #9198e5);
  min-height:100vh;
  margin: auto;
  height: 100%;
  width: 100%;
}

.inner{
  margin: 0 auto;
  width: 50%;
  min-height:100vh;
  background-color: white;
}

.card {
  margin-top: 20px;
}

.heading{
  padding-top: 3em;
}
